<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mavadvise">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MavAdvise"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Register"
            android:label="Register" />
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ManageAppointments"
            android:label="Your Appointments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.tabs.AppointmentHistory" />
        <activity
            android:name=".activities.ManageSessions"
            android:label="@string/title_activity_manage_sessions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SessionsAddError" />
        <activity
            android:name=".activities.StartSession"
            android:label="Start Session" />
        <activity
            android:name=".activities.ViewSession"
            android:label="View Session" />
        <activity
            android:name=".activities.CancelSession"
            android:label="Cancel Session" />
        <activity
            android:name=".activities.ActiveSession"
            android:label="Active Session" />
        <activity
            android:name=".activities.Announcements"
            android:label="Announcements" />
        <activity
            android:name=".activities.FilterAnnouncements"
            android:label="Filter Announcements" />
        <activity
            android:name=".activities.ReadAnnouncements"
            android:label="View Announcements" />
        <activity
            android:name=".activities.CreateAnnouncement"
            android:label="Create Announcement" />

        <service
            android:name=".services.MavAdviseFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activities.ForgotPasswordCredentials"
            android:label="Forgot Password" />
        <activity
            android:name=".activities.FPSecurity"
            android:label="Forgot Password" />
        <activity
            android:name=".activities.FPNewPassword"
            android:label="Create New Password" />
        <activity
            android:name=".activities.ChangePassword"
            android:label="Change Password" />
        <activity android:name=".activities.Notification">
            <intent-filter>
                <action android:name=".MavAdvise.MavAdviseNotification" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ViewAppointment"
            android:label="View Appointment" />
        <activity android:name=".activities.CancelAppointment"
            android:label="Cancel Appointment" />
    </application>
</manifest>