<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mavadvise">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MavAdvise"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.Register"
            android:label="Register" />
        <activity android:name=".activities.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashBoard"
            android:label="@string/title_activity_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ManageAppointments"
            android:label="Your Appointments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ManageSessions"
            android:label="@string/title_activity_manage_sessions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.SessionsAddError" />
        <activity android:name=".activities.StartSession" />
        <activity android:name=".activities.ViewSession"></activity>
    </application>

</manifest>